# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# Kubernetes Generated
# =========================
*-rendered.yaml

# =========================
# Helm
# =========================
**/charts/
**/*.tgz

# =========================
# Secrets
# =========================
*.pem
*.key
*.crt
*.p12
*.jks

secrets.yaml
secret.yaml

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Temporary
# =========================
tmp/
temp/
*-rendered.yaml